@CHARSET "UTF-8";
html {
    height: 100%;
}
body{
    position: relative;
    margin: 0;
    min-height: 100%;
}
.input_number{
    text-align: right;
}
.header_page > .navbar{
    background-color: #f39c12;
}

.header_page_1 > .navbar{
    background-color: #f39c12;
}
.navbar-brand {
    padding: 15px 15px;
    height: 80px;
}
.navbar-brand>img {
    max-height: 100%;
    height: 100%;
    width: auto;
    margin: 0 auto;
    -o-object-fit: contain;
    object-fit: contain; 
}

.footer_page{
    position: absolute;
    right: 0;
    bottom: 50px;
    left: 0;
    background-color: #f39c12;
    text-align: center;
}
.footer_page > .navbar {
    background-color: #f39c12;
    text-align: center;
}
.footer_page_pay{
    margin-top: 50px;
    background-color: #f39c12;
}

.navbar-text {
    float: none;
    color: #fff;
}
.panel-login{
    border-color: #f39c12;
}

.panel-heading{
    /*
    border-color: #f39c12 !important;
     */
    background: #f39c12 !important;
   
    color: #000 !important;
    font-size: 18px;
}

.vertical-center{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.btn-advan{
    padding-left: 30px; 
    padding-right: 30px;
    border-radius: 4px 4px 0 0;
}
.label-panal{
    padding: 10px 25px ;
    margin: 0 auto;
    border-radius: 4px 4px 0 0;
    color: #fff;
}
.panal-radius{
    border-radius: 0 4px 4px 4px
}
.textarea-tab{
    border: 4px #f39c12 solid;
    border-radius: 0 4px 4px 4px
}
.tab-modefile .nav-tabs > li > a,
.tab-modefile .nav-tabs > li > a:hover,
.tab-modefile .nav-tabs > li > a:focus {
    color: #777;
    border: 2px #ddd solid;
    border-bottom: 1px;
}
.tab-modefile .nav-tabs > .open > a,
.tab-modefile .nav-tabs > .open > a:hover,
.tab-modefile .nav-tabs > .open > a:focus,
.tab-modefile .nav-tabs > li > a:hover,
.tab-modefile .nav-tabs > li > a:focus {
    color: #777;
    background-color: #ddd;
    border-color: transparent;
}
.tab-modefile .nav-tabs > li.active > a,
.tab-modefile .nav-tabs > li.active > a:hover,
.tab-modefile .nav-tabs > li.active > a:focus {
    color: #000;
    background-color: #f39c12;
    border-color: #f39c12;
    border-bottom-color: transparent;
}
.border-tab-content{
    height: auto;

    border-top: none;
    padding: 20px 5px ;

}

.breadcrumb > li {
    display: inline-block;
}
.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: ">>\00a0";
}
.breadcrumb > .active {
    color: #f39c12;
}


/* default styling for main content */
.shadow{
    -webkit-box-shadow: 5px 6px 13px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 6px 13px 2px rgba(0,0,0,0.75);
    box-shadow: 5px 6px 13px 2px rgba(0,0,0,0.75);

}
.menu{
    position:relative;
    left:0;
}

/* slide main content right when side menu opens */
.menu-open{
    left:0px;
    oveflow-x:hidden; /* stop horizontal scroll bar when side menu open */
}
.menu-toggle{
    /*
    position:fixed;
    top:70px;
    left:0px;
    z-index: 9999;
    */
}
.menu-side>.list-group>.sublinks>a{
    /*  background: none;*/
}
.menu-open .menu-toggle{
    /* left:210px;*/
}
.menu-side{
    background-color:#f39c12;
    width:260px;
    color:#fff;
    padding:20px 10px 0px;
    position:fixed;
    top:0px;
    left:-260px;
    height:100%;
    z-index: 9999;
    overflow: auto;
    /*  -webkit-box-shadow: 0 1px 10px 1px rgba(0,0,0,0.6);
      -moz-box-shadow: 0 1px 10px 1px rgba(0,0,0,0.6);
      box-shadow: 0 1px 10px 1px rgba(0,0,0,0.6); */

}
.menu-open .menu-side{
    left:0;
}

.menu-side,
body{
    -webkit-transition:left 0.2s ease;
    -moz-transition:left 0.2s ease;
    transition:left 0.2s ease;
}

/*------Modal PayMent-------------*/
.label_modef{
    padding-left: 0;
    padding-right: 0;

}
.label_font{
    font-size: 12px;
}
.form-group{
    margin-top: 0 !important; 
    margin-bottom: 10px !important;
}

/*-----------Panel Status print-----------------------*/
#status_print{
    width: 100%;
    height: 100%;
    background: rgba(25, 25, 25, .5);
    position: absolute;
    top: 0;
    z-index: 99999;
}
.panel_status_print{
    width: 300px;
    -webkit-box-shadow: 0 1px 20px 3px rgba(0,0,0,0.47);
    -moz-box-shadow: 0 1px 20px 3px rgba(0,0,0,0.47);
    box-shadow: 0 1px 20px 3px rgba(0,0,0,0.47);

}
.panel_status_print > .panel-heading{
    border-bottom: 2px #f39c12 solid;
}


.thumbnail {
    text-align: center;
    border: 2px #f39c12 solid;
}
.thumbnail i{
font-size: 80px;
}

.badge_modefil{
    background-color: red;
    position: relative;
    top: -15px;
    left:-130px;
}